<style>
    @media (max-width: 991.98px) {
        .navbar-nav .nav-link {
            color: rgb(60, 60, 60) !important;

            &:hover {
                color: navy !important;
            }
        }
    }
</style>

<header class="navbar navbar-expand-xl p-0 fixed-top bg-primary">
    <div class="container text-white">

        <!-- Brand -->
        <a class="navbar-brand text-white" href="index.html" style="font-family: Arial, Helvetica, sans-serif;">
            MSK !nstitute
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse z-index-lg" id="navbarCollapse">
            <!-- Toggler -->
            <button class="navbar-toggler outline-0 text-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <!-- Icon -->
                <svg width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.142135 2.00015L1.55635 0.585938L15.6985 14.7281L14.2843 16.1423L0.142135 2.00015Z"
                        fill="currentColor"></path>
                    <path d="M14.1421 1.0001L15.5563 2.41431L1.41421 16.5564L0 15.1422L14.1421 1.0001Z"
                        fill="currentColor"></path>
                </svg>

            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown dropdown-full-width ">
                    <a style="padding-right: 0px;" class="nav-link px-xl-4 text-white" href="/">
                        <span>Home</span>
                    </a>

                </li>
                <li class="nav-item dropdown dropdown-full-width">
                    <a style="padding-right: 0px;" class="nav-link text-white active" href="courses.html">
                        Courses
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-full-width">
                    <a style="padding-right: 0px;" class="nav-link text-white" href="notes.html">
                        Notes
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-full-width">
                    <a style="padding-right: 0px;" class="nav-link text-white" href="about.html">
                        About
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-full-width">
                    <a style="padding-right: 0px;" class="nav-link text-white" href="contact.html">
                        Contact Us
                    </a>
                </li>

            </ul>
        </div>

        <div class="box sm-w-50 d-flex mx-1 justify-content-end">

            <a class="rounded btn btn-outline-success px-3 py-1 mx-1" href="payment.html">
                Pay
            </a>
            <a class="rounded btn btn-outline-success px-3 py-1 mx-1" href="admission.html">
                Admission
            </a>

            <!-- Toggler -->
            <button
                class="navbar-toggler ms-md-5 shadow-none badge-success icon-xs p-0 outline-0 h-40p w-40p d-flex d-xl-none place-flex-center"
                type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <!-- Icon -->
                <svg width="25" height="17" viewBox="0 0 25 17" xmlns="http://www.w3.org/2000/svg">
                    <rect width="25" height="1" fill="currentColor" />
                    <rect y="8" width="15" height="1" fill="currentColor" />
                    <rect y="16" width="20" height="1" fill="currentColor" />
                </svg>

            </button>
        </div>
    </div>
</header>