/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --green-color: #219C90;
  --yellow-color: #E9B824;
  --primary: #0d6efd;
  --color-1: #00235c;
  --color-2: #EC6854;
  --hover-color-primary: var(--color-2);
  --hover-color-secondary: var(--color-1);
  --gray1: #F0F0F0;
  --gray2: #adb5bd;  
}

.text-primary{
  color: var(--color-1);
}
.text-secondary{
  color: var(--color-2);
}
.border-primary{
  padding: 5px 20px;
  border-radius: 50px;
  border-color: var(--color-1);
}
.border-secondary{
  padding: 5px 20px;
  border-radius: 50px;
  border-color: var(--color-2);
}


body {
  font-family: "Open Sans", sans-serif;
}

a{
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--bs-link-hover-c1);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  background: var(--primary);
  bottom: 15px;
  z-index: 996;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--color-2);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  border: 6px solid var(--primary);
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

#header .container .logo{
  color: white;
}

#header .logo img {
  max-height: 40px;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: var(--color-1);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: var(--primary);
}

#header .logo img {
  max-height: 40px;
}

/**
* Get Startet Button 
*/
.get-started-btn {
  color: white;
  margin-left: 22px;
  border-radius: 50px;
  padding: 5px 20px;
  white-space: nowrap;
  transition: 0.3s;
  border: 2px solid var(--primary);
  font-size: 18px;
  display: inline-block;
}

.get-started-btn:hover {
  background: var(--primary);
  color: white;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--primary);
  font-size: 19px;
  padding: 0px 5px 0px 5px;
  border-bottom: 2px solid var(--primary);
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: white;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile{
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(32, 38, 34, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: transparent;
  overflow-y: auto;
  transition: 0.3s;
  background-color: #fff;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37423b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--primary);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  padding-top: 150px;
  width: 100%;
  height: 100vh;
  background: url("/assets/img/background.png") top center;
  background-size: cover;
  position: relative;
  background-position-x: 80%;
}


#hero .container {
  padding: 50px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  text-align: center;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 62px;
  }
}

#hero h1 {
  padding: 50px;
  font-size: 120px;
  font-weight: 700;
  line-height: 140px;
  font-family: "Poppins", sans-serif;
}

#hero h2 span{
  color: var(--color-2);
}
#hero h2 {
  color: #bfdbfe;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid var(--color-2);
  color: #fff;
}

#hero .btn-get-started:hover {
  font-size: 18px;
  background: var(--color-2);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 40px;
  overflow: hidden;
}
.sec-primary{
  color: white;
  background-color: var(--color-1);
}
.sec-secondary{
  background-color: var(--color-2);
}
.sec-gray{
  color: black;
  background-color: var(--fourth-gray-color);
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  background: var(--primary);
  height: 1px;
  display: inline-block;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
}

.breadcrumbs {
  color: #404040;
  margin-top: 60px;
  padding: 30px 0;
  border-bottom: 2px solid var(--primary);
  border-radius: 0 0 100px 0;
  transition: 0.2s;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}

.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
  color: var(--primary);
  width: 180px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-bottom: 2px solid var(--primary);
}

.breadcrumbs p {
  font-size: 20px;
  margin-bottom: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 30px 0;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: white;
  font-weight: 700;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 30px;
  background: var(--color-2);
  border-radius: 4px;
}

.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
  font-size: 14px;
}

.why-us .content .more-btn:hover {
  color: black;
  background: #fff;
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  background: #fff;
  color: black;
  padding: 40px 30px;
  width: 100%;
}

.why-us .icon-boxes .icon-box i {
  font-size: 32px;
  padding: 18px;
  color: white;
  margin-bottom: 30px;
  background: var(--color-2);
  border-radius: 50px;
}

.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
  border-radius: 20px;
  background-color: var(--bs-gray-100);
  border: 2px solid var(--gray2);
}

.courses .course-item:hover{
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}
.courses .course-item img{
  border-bottom: 2px solid var(--primary);
  border-radius: 20px 20px 0px 0px;
  background-color: var(--color-1);
}

.courses .container .row .align-items-stretch{
  padding-bottom: 50px;
}

.courses .course-content {
  padding: 20px;
}

.courses .course-content h3 {
  font-weight: 700;
  font-size: 20px;
}

.courses .course-content p {
  font-size: 14px;
  color: #777777;
}

.courses .course-content h4 {
  background: var(--primary);
  font-size: 14px;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
}

.courses .course-content .price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #37423b;
}

.courses .trainer {
  padding-top: 15px;
  border-top: 1px solid #eef0ef;
}

.course-content .btn-primary{
  color: white;
  padding: 10px 40px;
  border-radius: 100px;
}


.courses .trainer .trainer-profile img {
  max-width: 50px;
  border-radius: 50px;
}

.courses .trainer .trainer-profile span {
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #5a6c60;
}

.courses .trainer .trainer-rank {
  font-size: 18px;
  color: #657a6d;
}


/*--------------------------------------------------------------
# Trainers
--------------------------------------------------------------*/
.trainers .member {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eef0ef;
}

.trainers .member img {
  margin: -1px -1px 30px -1px;
}

.trainers .member .member-content {
  padding: 0 20px 30px 20px;
}

.trainers .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.trainers .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.trainers .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.trainers .member .social {
  margin-top: 15px;
}

.trainers .member .social a {
  color: #7e9486;
  transition: 0.3s;
}

.trainers .member .social a:hover {
  color: black;
}

.trainers .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  border: 1px solid white;
  position: relative;
  background: var(--color-2);
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid var(--color-2);
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: black;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: white;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: black;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: var(--color-2);
  border: 1px solid #fff;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }

  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }

  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}


/*--------------------------------------------------------------
# Course Details Tabs
--------------------------------------------------------------*/
.container .featurette h2{
  color: var(--primary);
  font-size: 60px;
  padding-top: 10px;
}
.container .featurette h3{
  padding-top: 10px;
  font-size: xx-large;
}


@media (max-width: 768px){
  .container .featurette h2{
    font-size: 25px;
    padding-top: 10px;
  }
  .container .featurette h3{
    padding-top: 10px;
    font-size: x-large;
  }
  .container .featurette video{
    width: 320px;
  }
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 20px;
  width: 100%;
  height: 700px;
  background: #f7f8f9;
  border-radius: 10px;
}

.contact .info i {
  font-size: 20px;
  color: black;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4{
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--primary);
  color: #fff;
}

.contact .php-email-form {
  padding: 20px;
  width: 100%;
  height: 500px;
  background: #f7f8f9;
  border-radius: 10px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: var(--color-1);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: var(--fourth-gray-color);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}


#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #686868;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--color-2);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #686868;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: var(--color-2);
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter input {
  margin-top: 30px;
  background: var(--fourth-gray-color);
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 2px solid var(--color-2);
}


#footer .social-links a {
  background: var(--primary);
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .container .align-items-stretch p,
#footer .container div h6{
  color: white;
}

#footer .social-links a:hover {
  background: var(--color-2);
  text-decoration: none;
}
#footer .footer-newsletter i{
  color: var(--color-2);
}

#footer .footer-newsletter .btn-primary{
  border: 2px solid var(--color-2);
  background-color: var(--fourth-gray-color);
}
#footer .footer-newsletter i:hover,
#footer .footer-newsletter .btn-primary:hover{
  color: white;
  background-color: var(--color-2);
}
.btn-primary{
  border-radius: 50px;
  padding: 5px 20px;
}
