nav {
    width: 100vw;
    background-color: #002060;
    color: white;
    white-space: nowrap;
    overflow-x: scroll;
    /* Enable horizontal scroll */
    padding: 2px 0;

    /* Hide scrollbar for WebKit browsers */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    a {
        display: inline-block;
        padding: 0 15px;
        text-decoration: none;
        color: white;

        &:hover {
            background-color: white;
            color: #002060;
        }
    }
}