* {
    margin: 0;
    padding: 0;
}

.hideOnLaptop, .hideOnPhone{
    display: none !important;
}


.title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 100px;
    padding: 50px;
    box-sizing: border-box;
}

#upiLogos {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

#upiLogos>img {
    width: 200px;
}

#note{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

#PaymentContainer{
    width: 100%;
    height: 1300px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    font-size: 50px;
    /* background-color: lightgray; */
}
#PaymentContainer .top, .bottom {
    width: 95%;
    height: 48%;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 40px;
    margin-top: 20px;
    background-color: #f1f1f1;
}

#PaymentContainer>.top {
    display: flex;
    flex-direction: column;
}
#PaymentContainer>.top>.input-group {
    /* background-color: red; */
    width: 100%;
    height: 150px;

}
#PaymentContainer>.top>.input-group>input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
}

#PaymentContainer> .top>button {
    width: 60%;
    height: 90px;
    font-size: 50px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#PaymentContainer> .bottom>.left {
    width: 48%;
    float: left;
}
#PaymentContainer> .bottom>.right {
    width: 48%;
    float: right;
}

#PaymentContainer> .bottom>.right>#qrcode {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    background-color: #fff;
}

#PaymentContainer> .bottom>.right>#Pay_Button {
    height: 80px;
    text-decoration: none;
    margin: 0 auto;
    background-color: greenyellow;
    text-align: center;
    padding-top: 20px;
    border-radius: 0  0 20px 20px;
}

#Pay_Button {
    text-align: center;
    text-decoration: none;
    border: 2px solid;
    border-radius: 50px;
    width: 560px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: rgb(34, 242, 44);
}
